@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Poppins:wght@300&display=swap');

.pokemons{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#loading{
 margin-top: 200px; 
}

.pagination{
  display: flex;
  justify-content: center;
}

.pagination button{
  margin-left: 5px;
  height: 30px;
  border-radius: 20px;
  border: 0px;
  background-color: #fa4659;
  color: white;
  cursor: pointer;
}


#next{
  padding-left: 10px;
  width: 70px;
}

#previous{
  padding-left: 15px;
  width: 70px;
}

.buttons{
  margin-top: 5px;
  display: flex;
  justify-content: space-evenly;
}

.buttons select{
  background-color:  #fa4659;
  color: white;
  border-radius: 20px;
  margin-bottom: 10px;
  border: none;
  outline: none;
  height: 30px;
  cursor: pointer;
  font-family: 'PT Sans', sans-serif;
  text-align: center;
}

option:hover{
  background-color: white;
  color: #fa4659;
}

.img{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 88vh;
}
