.home{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  /* align-items: center; */
}

.cardPokemon{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

