@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Poppins:wght@300&display=swap');
.electric{
  background-image: url("./img/card_electric.svg");
  width: 18rem;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 15px;
  border-radius: 25px;
  justify-content: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.electric:hover{
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.grass{
  background-image: url("./img/card_grass.svg");
  width: 18rem;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 15px;
  border-radius: 25px;
  justify-content: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.grass:hover{
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.bug{
  background-image: url("./img/card_bug.svg");
  width: 18rem;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 15px;
  border-radius: 25px;
  justify-content: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.bug:hover{
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.dark{
  background-image: url("./img/card_dark.svg");
  width: 18rem;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 15px;
  border-radius: 25px;
  justify-content: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.dark:hover{
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.dragon{
  background-image: url("./img/card_dragon.svg");
  width: 18rem;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 15px;
  border-radius: 25px;
  justify-content: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.dragon:hover{
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.fairy{
  background-image: url("./img/card_fairy.svg");
  width: 18rem;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 15px;
  border-radius: 25px;
  justify-content: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.fairy:hover{
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.fighting{
  background-image: url("./img/card_fight.svg");
  width: 18rem;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 15px;
  border-radius: 25px;
  justify-content: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.fighting:hover{
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.fire{
  background-image: url("./img/card_fire.svg");
  width: 18rem;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 15px;
  border-radius: 25px;
  justify-content: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.fire:hover{
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.flying{
  background-image: url("./img/card_flying.svg");
  width: 18rem;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 15px;
  border-radius: 25px;
  justify-content: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.flying:hover{
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.ghost{
  background-image: url("./img/card_ghost.svg");
  width: 18rem;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 15px;
  border-radius: 25px;
  justify-content: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.ghost:hover{
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.ground{
  background-image: url("./img/card_ground.svg");
  width: 18rem;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 15px;
  border-radius: 25px;
  justify-content: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.ground:hover{
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.ice{
  background-image: url("./img/card_ice.svg");
  width: 18rem;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 15px;
  border-radius: 25px;
  justify-content: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.ice:hover{
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.normal{
  background-image: url("./img/card_normal.svg");
  width: 18rem;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 15px;
  border-radius: 25px;
  justify-content: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.normal:hover{
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.poison{
  background-image: url("./img/card_poison.svg");
  width: 18rem;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 15px;
  border-radius: 25px;
  justify-content: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.poison:hover{
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.psychic{
  background-image: url("./img/card_psychic.svg");
  width: 18rem;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 15px;
  border-radius: 25px;
  justify-content: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.psychic:hover{
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.rock{
  background-image: url("./img/card_rock.svg");
  width: 18rem;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 15px;
  border-radius: 25px;
  justify-content: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.rock:hover{
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.steel{
  background-image: url("./img/card_steel.svg");
  width: 18rem;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 15px;
  border-radius: 25px;
  justify-content: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.steel:hover{
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.water{
  background-image: url("./img/card_water.svg");
  width: 18rem;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 15px;
  border-radius: 25px;
  justify-content: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.water:hover{
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.shadow{
  background-image: url("./img/card_shadow.svg");
  width: 18rem;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 15px;
  border-radius: 25px;
  justify-content: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.shadow:hover{
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.unknown{
  background-image: url("./img/card_unknown.svg");
  width: 18rem;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 15px;
  border-radius: 25px;
  justify-content: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.unknown:hover{
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.descriptionlarger{
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

.descriptionshort{
  display: flex;
  justify-content: space-evenly;
}

.about{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.about .p{
  text-align: center;
  margin-bottom: 0px;
}

.front{
  height: 170px;
  background-color: white;
  border-radius: 25px;

}

.back{
  display: flex;
  flex-direction: column;
}

.header{
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.id{
  display: flex;
  justify-content: center;
  margin-top: 5px;
  align-items: center;
}

.dbimg{
  margin-top: 10px;
  align-self: center;
}

#idnum{
  margin-top: 0px;
  font-size: 28px;
  height: 30px;
  padding-bottom: 7px;
  padding-top: 0px;
}

.about .descriptionlarger img{
  margin-top: 8px;
  margin-left: 5px;
}

p{
  font-family: 'PT Sans', sans-serif;
  font-size: 15px;
  color: #696d69;
  font-weight: 700;
}

.header p{
  margin-top: 16px;
  margin-bottom: 0px;
  font-size: 15px;
  color: white;
  font-weight: 400;
}


#types {
  padding-left: 10px;
  margin-top: 0px;
  margin-bottom: 15px;
  color: white;
  width: 50px;
  background-color: thistle;
}

#img{
  margin-top: 10px;
  align-self: center;
}

.header a{
  text-decoration: none;
  color: white;

}

.num{
  font-family: 'Poppins', sans-serif;
  font-size: 23px;
  margin-top: 8px;
  color: #353935;
  font-weight: 300;
}