@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

.NavBar{
  background-color: #fa4659;
  height: 3.5rem;
  display: flex;
  justify-content: center;
}

.logo{
  position: absolute;
  left: 20px;
  top: 1px;
}

.logo a img{
  margin-left: 10px;
}

.ul{
  margin: 0px;
  width: 350px;
  padding: 0px;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.ul li{
  height: 100%;
  width: 80px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ul li a {
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #fff;
}

.ul li:hover{
  background-color: #fff;
}

.ul li:hover a{
  color: black;
}

#login{
  position: absolute;
  right: 20px;
  top: 16px;
}

.ul a{
  text-decoration: none;
  justify-content: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 100%; 
  width: 50px;
}

.ul a #hola {
  justify-content: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 100%; 
  width: 50px;
  color: rgba(255, 255, 255, 1); 
}


.ul a #hola:hover{
  background-color: #fff;
  color: black;
}

